In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams

In [2]:
# 表示の幅を広げる
pd.set_option('display.max_columns', 10000)
pd.set_option('display.max_rows', 500)
rcParams['figure.figsize'] = 8, 8 # グラフが見きれないようにするためサイズを大きくしておく

In [3]:
# データの読み込み
df_train = pd.read_csv('df_train.csv')
df_train.head() # カテゴリカル変数はなし

   ID  ACTIVITY      TIME           SL       EEG  BP   HR  CIRCLUATION
0   0         4   1954.23      55.5372  -368.000  97   33            5
1   1         0  17450.00  120164.0000 -7539.000  66  347         4535
2   2         0  12024.50   19634.0000 -3361.000  86  167          973
3   3         4  13413.00   46643.3000 -5735.430  65  273         2061
4   4         2   5325.98    3491.2600  -809.996  50   51          132

In [4]:
# 次元を確認
df_train.shape

(14744, 8)

In [5]:
# 欠損値に関して
df_train.isnull().sum()

ID             0
ACTIVITY       0
TIME           0
SL             0
EEG            0
BP             0
HR             0
CIRCLUATION    0
dtype: int64

In [6]:
# 基本統計量の把握
df_train[df_train['ACTIVITY'] == 0].describe()
# HRの最大値がでかい

,ID,ACTIVITY,TIME,SL,EEG,BP,HR,CIRCLUATION
count,4144.000000,4144.0,4144.000000,4.144000e+03,4.144000e+03,4144.000000,4144.000000,4144.000000
mean,7431.656612,0.0,12591.616006,1.154573e+05,-1.199226e+04,72.125241,258.431950,4047.658542
std,4261.905552,0.0,5841.193613,1.861341e+05,2.138489e+05,68.109948,148.467966,5003.893847
min,1.000000,0.0,3294.910000,4.090000e+02,-1.262600e+07,0.000000,35.000000,35.000000
25%,3716.750000,0.0,8370.617500,1.648775e+04,-8.076738e+03,27.000000,146.000000,890.000000
50%,7427.500000,0.0,11325.600000,5.190550e+04,-5.279500e+03,50.000000,224.500000,2325.000000
75%,11144.500000,0.0,15438.300000,1.347700e+05,-3.209750e+03,91.000000,333.000000,5322.000000
max,14735.000000,0.0,50895.500000,2.426140e+06,-9.000000e+01,506.000000,986.000000,52210.000000

In [7]:
df_train[df_train['ACTIVITY'] == 1].describe()

,ID,ACTIVITY,TIME,SL,EEG,BP,HR,CIRCLUATION
count,458.000000,458.0,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000
mean,7178.146288,1.0,6589.688799,17781.711444,-2267.538325,40.644105,118.072052,918.229258
std,4358.347644,0.0,3161.580207,25923.767237,1767.509162,46.899002,77.282491,1236.274594
min,13.000000,1.0,2202.390000,46.008500,-5880.000000,0.000000,33.000000,5.000000
25%,3457.500000,1.0,4150.305000,2263.412500,-4196.982500,13.000000,54.000000,165.000000
50%,7128.000000,1.0,5711.195000,4767.420000,-1460.000000,21.000000,85.000000,343.000000
75%,10992.000000,1.0,9210.447500,17210.625000,-917.500000,35.000000,183.000000,931.000000
max,14715.000000,1.0,18117.000000,143758.000000,-119.000000,150.000000,449.000000,5537.000000

In [8]:
df_train[df_train['ACTIVITY'] == 5].describe()
# SLの平均値が高い

,ID,ACTIVITY,TIME,SL,EEG,BP,HR,CIRCLUATION
count,1524.000000,1524.0,1524.000000,1524.000000,1524.000000,1524.000000,1524.000000,1524.000000
mean,7356.812992,5.0,10339.166385,51015.052655,-3640.910748,56.026247,192.870735,2177.274934
std,4215.153360,0.0,4350.689190,73701.184359,2235.958982,35.209540,101.408374,2450.855190
min,15.000000,5.0,2017.360000,48.090000,-13400.000000,0.000000,33.000000,5.000000
25%,3646.000000,5.0,7914.935000,9368.212500,-4912.500000,30.000000,130.000000,517.000000
50%,7505.000000,5.0,9470.500000,30388.000000,-3251.900000,46.000000,179.000000,1747.000000
75%,10904.500000,5.0,12443.825000,53891.325000,-2088.570000,75.000000,262.000000,2599.000000
max,14731.000000,5.0,27054.100000,482830.000000,4950.000000,186.000000,540.000000,15505.000000

In [9]:
df_train[df_train['ACTIVITY'] == 2].describe()
# EEGの最大値がでかい
#

,ID,ACTIVITY,TIME,SL,EEG,BP,HR,CIRCLUATION
count,2261.000000,2261.0,2261.000000,2261.000000,2261.000000,2261.000000,2261.000000,2261.000000
mean,7442.908448,2.0,9176.841827,49866.161553,-3049.441965,50.708978,168.885449,2047.480318
std,4260.345169,0.0,5068.905955,85192.388157,2550.661220,35.397493,121.661843,2992.655940
min,4.000000,2.0,2120.990000,45.783200,-14500.000000,0.000000,33.000000,5.000000
25%,3677.000000,2.0,5320.820000,4217.600000,-4120.000000,20.000000,79.000000,292.000000
50%,7564.000000,2.0,7569.590000,9877.020000,-2210.000000,42.000000,128.000000,587.000000
75%,11107.000000,2.0,12253.900000,60244.400000,-1200.000000,76.000000,235.000000,2904.000000
max,14741.000000,2.0,26195.700000,476183.000000,9640.000000,170.000000,537.000000,15505.000000

In [10]:
df_train[df_train['ACTIVITY'] == 3].describe()

,ID,ACTIVITY,TIME,SL,EEG,BP,HR,CIRCLUATION
count,3218.000000,3218.0,3218.000000,3218.000000,3.218000e+03,3218.000000,3218.000000,3218.000000
mean,7327.045991,3.0,11275.797887,72844.889598,-3.372357e+03,51.098508,215.197949,2902.607831
std,4240.369392,0.0,5105.104854,95974.274839,2.517272e+04,34.086469,123.020704,3195.029661
min,6.000000,3.0,2275.300000,42.224200,-1.520000e+04,0.000000,33.000000,5.000000
25%,3700.250000,3.0,7465.590000,12017.350000,-5.050000e+03,25.000000,128.000000,689.000000
50%,7197.500000,3.0,10075.600000,39116.950000,-3.107055e+03,42.000000,196.000000,1885.000000
75%,10958.250000,3.0,13818.275000,87562.550000,-2.230805e+03,74.000000,254.000000,3630.000000
max,14743.000000,3.0,26626.300000,480315.000000,1.410000e+06,207.000000,540.000000,15505.000000

In [11]:
# 説明変数と目的変数にデータを切り分ける
x = df_train.drop(['ID','ACTIVITY'], axis = 1)
t = df_train['ACTIVITY']
type(x), type(t)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [12]:
# 訓練データと検証データに切り分ける
from sklearn.model_selection import train_test_split
x_train, x_val, t_train, t_val = train_test_split(x, t, test_size = 0.3, random_state = 1) 
len(x_train), len(x_val), len(x)

(10320, 4424, 14744)

In [12]:
# 試しに線形回帰する
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()
model.fit(x_train, t_train)
model.score(x_train, t_train), model.score(x_val, t_val) # ゴミスコア

(0.05750703536412072, 0.05167337512448644)

## 改善

In [13]:
# モデルの宣言
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
import xgboost as xgb

In [ ]:
model1 = XGBClassifier(max_depth=10, random_state = 0) # 再現性の確保
# モデルの学習
model1.fit(x_train, t_train)
# モデルの検証
print(model1.score(x_train, t_train))
print(model1.score(x_val, t_val))

# 重みの調整

In [ ]:
# 空のデータフレームを準備
df_w = pd.DataFrame()

# 重みを取得
coef = model0.coef_
coef

# xの列名を取得
x_col = df2.drop(labels=['result'], axis=1).columns
x_col

# 空のデータフレームに列を追加
df_w['index'] = x_col
df_w['coef'] = coef
df_w.head()

# 降順に並べかえて表示
df_w.sort_values('coef', ascending=False).head(5)